In [56]:
import os
from collections import Counter
import pandas as pd
from os.path import join, exists, basename, dirname, splitext, expanduser

In [ ]:



state_name = "uttar_pradesh"
# Directory containing the .txt files
directory = f"/home/patel_zeel/kiln_compass_24/data/{state_name}/labels"

# Initialize a Counter to track the first letters
first_letter_counts = Counter()

# Iterate through all files in the directory
for filename in os.listdir(directory):
    if filename.endswith(".txt"):  # Process only .txt files
        file_path = os.path.join(directory, filename)
        with open(file_path, 'r') as file:
            for line in file:
                if line.strip():  # Ignore empty lines
                    first_letter = line.strip()[0]  # Extract the first letter
                    first_letter_counts[first_letter] += 1

# Print the results
print("Unique first letters and their counts:", dict(first_letter_counts))
print("Number of unique first letters:", len(first_letter_counts))

Unique first letters and their counts: {'2': 1761, '1': 293}
Number of unique first letters: 2

In [58]:
class_counts_df=pd.DataFrame(data={state_name:[first_letter_counts.get('0',0),first_letter_counts.get('1',0),first_letter_counts.get('2',0)]},
                             index=['0','1','2']).T
class_counts_df.reset_index(inplace=True)
class_counts_df.columns=['state','0','1','2']
display(class_counts_df)

    state  0    1     2
0  punjab  0  293  1761

In [59]:
csv_dir=f"/home/rishabh.mondal/Brick-Kilns-project/ijcai_2025_kilns/result_csv/class_counts.csv"
os.makedirs(dirname(csv_dir), exist_ok=True)

In [60]:
if not os.path.exists(csv_dir):
    class_counts_df.to_csv(csv_dir,header=True)
    print(f"csv saved at {csv_dir}")
else:
    class_counts_df.to_csv(csv_dir,mode='a',header=False)
    print(f"csv saved at {csv_dir}")

csv saved at /home/rishabh.mondal/Brick-Kilns-project/ijcai_2025_kilns/result_csv/class_counts.csv

In [62]:
data_file = pd.read_csv(csv_dir)    
#drop the unnamed column
data_file.drop(data_file.columns[data_file.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
display(data_file)

           state    0     1     2
0          bihar    0   884  4599
1  uttar_pradesh  801  7634  5411
2        haryana    0   108  2200
3    west_bengal    0   675  1591
4         punjab    0   293  1761

In [64]:
## find out 25 percent of the of the each class
data_file['0_25_percent'] = data_file['0']*0.25
data_file['1_25_percent'] = data_file['1']*0.25
data_file['2_25_percent'] = data_file['2']*0.25
display(data_file)

,state,0,1,2,total,25_percent,0_25_percent,1_25_percent,2_25_percent
0,bihar,0,884,4599,5483,1370,0.00,221.00,1149.75
1,uttar_pradesh,801,7634,5411,13846,3461,200.25,1908.50,1352.75
2,haryana,0,108,2200,2308,577,0.00,27.00,550.00
3,west_bengal,0,675,1591,2266,566,0.00,168.75,397.75
4,punjab,0,293,1761,2054,513,0.00,73.25,440.25